@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

button,
input,
button:active,
input:active,
button:focus,
input:focus {
  outline: none !important;
  border: none;
}

#hamburger-quit-editing {
  position: fixed;
  top: 15px;
  left: 0;
  z-index: 1002;
  pointer-events: none;
}

#hamburger-quit-editing.clicked {
  pointer-events: all;
  padding: 10px 10px 5px 10px;
  border-radius: 0.4rem;
  background: white;
  .hamburger {
    transition: 0.5s ease-in-out;
    width: 25px;
    height: 2px;
    margin-bottom: 5px;
    background: linear-gradient(
      to right top,
      rgba(255, 0, 255, 1),
      rgba(255, 0, 255, 0.7)
    );
    z-index: 1002;  
  }
  .hamburger1 {
    transform: rotate(45deg) translateX(39%);
  }
  .hamburger3 {
    transform: rotate(315deg) translateX(39%);
  }
  .hamburger2 {
    transform: translateX(-150%);
    opacity: 0;
  }
}

.footer{
  overflow-x: hidden;
  margin: 25px 0;
  min-height: 275px;
  background: white;
  color: black;
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  .sub-footer{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    a{
      text-decoration: none;
      color: black;
    }
    .sub-footer1{
      h1{
        font-size: 1.5rem;
        margin: 10px 0;    
      }
      p, span{
        margin: 20px 0;
        font-weight: 500;
        word-spacing: 1px;
      }
      p{
        padding: 10px;
        color: black;
        border: 1.5px solid black;
        border-radius: 0.5rem;
        width: max-content;
      }
      p:hover{
        border: 1.5px solid rgb(48, 134, 233);
        color: rgb(48, 134, 233);
      }
    }
    .sub-footer2{
      img{
        width: 40px;
        height: 40px;
        margin: 25px 0 0 0;
      }
      img:nth-child(1){
        margin-left: 25px;
      }
    }
  }
}

//For tablets and mobile phones
@media screen and (max-width: 1000px) {
  #hamburger {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
    padding: 10px 10px 5px 10px;
    border-radius: 0.4rem;
    background: white;
    .hamburger {
      transition: 0.5s ease-in-out;
      width: 25px;
      height: 2px;
      margin-bottom: 5px;
      background: linear-gradient(
        to right top,
        rgba(255, 0, 255, 1),
        rgba(255, 0, 255, 0.7)
      );
      z-index: 1000;
    }
  }
  #hamburger.clicked {
    .hamburger1 {
      transform: rotate(45deg) translateX(39%);
    }
    .hamburger3 {
      transform: rotate(315deg) translateX(39%);
    }
    .hamburger2 {
      transform: translateX(-150%);
      opacity: 0;
    }
  }
  .footer{
    .sub-footer{
      width: 100%;
      padding: 0 25px;
    }
  }
}

@media screen and (max-width: 600px){
  .footer{
    .sub-footer{
      padding: 0 15px;
      text-align: center;
      flex-direction: column;
      .sub-footer1, .sub-footer2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .sub-footer2{
        flex-direction: row;
        img{
          margin-right: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .footer{
    .sub-footer{
      padding: 0 10px;
    }
  }
}