<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>xMeme by Aihab</title>
    <link rel="stylesheet" href="../static/styles/index/index.css">
</head>

<body>
    <!-- Hamburger menu to toggle meme submission form (for small devices only)-->
    <div id="hamburger">
        <div class="hamburger hamburger1"></div>
        <div class="hamburger hamburger2"></div>
        <div class="hamburger hamburger3"></div>
    </div>
    <!-- Hamburger \End -->
    <!-- Form to post memes -->
    <div class="form">
        <!-- Background image -->
        <div class="background-img">
            <img src="../static/images/background.jpg" alt="background-people-laughing">
        </div>
        <!-- Background image \End -->
        <div id="main-form-container">
            <div id="main-form-left">
                <h1>Are you the meme lord?</h1>
                <p>Do you have what it takes to be the meme lord? Show me your memes!</p>
                <!-- Button to toggle form for mobile devices and tablets -->
                <button id="post-meme-button">Post a meme</button>
                <!-- Button \End -->
            </div>
            <div id="main-form">
                <h1>Post your meme</h1>
                <form action="{{ url_for('submit') }}" method="POST">
                    <div class="username sub-form">
                        <label for="username">Meme Owner</label>
                        <input type="text" name="username" id="username" spellcheck="false" placeholder="Enter your full name" required>
                    </div>
                    <div class="caption sub-form">
                        <label for="caption">Caption</label>
                        <input type="text" name="caption" id="caption" spellcheck="false" placeholder="Be creative with the caption">
                    </div>
                    <div class="image-link sub-form">
                        <label for="image-link">Meme URL</label>
                        <input type="text" name="image-link" id="image-link" spellcheck="false" placeholder="Enter URL of your meme here" required>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Form to post memes \End -->
    <div class="meme-container-outer">
        <h1 id="browse-header">Browse Memes</h1>
        {% for meme in memes %}
        <div class="meme-container">
            <h1>{{meme.owner}}</h1>
            <p>{{meme.caption}}</p>
            <img src="{{meme.url}}" alt="Meme #{{meme.id}}">
        </div>
        {% endfor %}
    </div>
</body>

<script src="../static/scripts/index/index.js"></script>

</html>